<template>
  <div class="container-fluid mt-5">
    <div class="row table-sm mr-0 ml-0 p-0">
      <div class="row table-sm mr-0 ml-0 p-0 mb-3 width-100">

        <div class="col-7 p-0 align-self-center font-weight-bold d-flex align-items-center">
          <h5 class="d-inline mr-2 font-weight-bold">Subjects</h5>
        </div>

        <div class="col-5 align-items-center align-self-center text-right pr-0 d-flex justify-content-end" >
          <el-button size="mini" @click="drawer.create.status = true" icon="el-icon-circle-plus-outline">
            Create
          </el-button>

        </div>

      </div>
      <table class="table table-bordered table-hover" v-loading="loadingData">
        <crm-pagination :pagination="pagination" @c-change="updatePagination"></crm-pagination>
        <thead>
        <tr>
          <crm-th :column="columns.id" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.name" :sort="sort" @c-change="updateSort"></crm-th>
          <crm-th :column="columns.created_at" :sort="sort" @c-change="updateSort"></crm-th>
        </tr>

        <tr>
          <th v-if="columns.id.show">
            <el-input
                clearable
                size="mini"
                v-model="filterForm.id"
                class="id_input"
                :placeholder="columns.id.title"
            ></el-input>
          </th>
          <th v-if="columns.name.show">
            <el-input
                clearable
                size="mini"
                v-model="filterForm.name"
                placeholder="Name"
            ></el-input>
          </th>

          <th v-if="columns.created_at.show">
            <el-date-picker
                v-model="filterForm.created_at"
                value-format="yyyy-M-d"
                format="yyyy-M-d"
                placeholder="Created at"
                size="mini"
            ></el-date-picker>
          </th>
        </tr>
        </thead>

        <transition-group name="flip-list" tag="tbody">
          <tr v-for="subject in list" :key="subject.id" class="cursor-pointer">
            <td v-if="columns.id.show">{{ subject.id }}</td>
            <td v-if="columns.name.show">{{ subject.name }}</td>
            <td v-if="columns.created_at.show">{{ subject.created_at }}</td>
          </tr>
        </transition-group>
      </table>
      <el-drawer
          size="30%"
          :visible.sync="drawer.create.status"
          :ref="drawer.create.name"
          @opened="drawerOpened(drawer.create.component)"
          @closed="drawerClosed(drawer.create.component)">
        <crm-create :ref="drawer.create.component" :drawer-name="drawer.create.name"></crm-create>
      </el-drawer>
    </div>

  </div>

</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CrmCreate from "./crm-create";
import list from "@/utils/mixins/list";
import drawer from "@/utils/mixins/drawer";
export default {
  mixins:[list ,drawer],
  name: "SubjectIndex",
  components:{
    CrmCreate,
  },
  data(){
    return {
      loadingData: false,
      selectedModel: {},
      drawer: {
        create: {
          name: "create",
          status: false,
          component: 'Create'
        },
      }
    }
  },
  computed:{
    ...mapGetters({
      list: 'subjects/list',
      columns: "subjects/columns",
      pagination: "subjects/pagination",
      filter: "subjects/filter",
      sort: "subjects/sort",
    })
  },

  methods: {
    ...mapActions({
      updateList: 'subjects/index',
      updateSort: "subjects/updateSort",
      updateFilter: "subjects/updateFilter",
      updatePagination: "subjects/updatePagination",
      empty: 'subjects/empty',
      refreshData: 'subjects/refreshData',
    }),
    fetchData() {
      const query = { ...this.filter, ...this.pagination, ...this.sort };
      if (!this.loadingData) {
        this.loadingData = true;
        this.updateList(query).then(res => {
          this.loadingData = false
        }).catch(err => {
          this.loadingData = false
        });
      }
    },
    refresh() {
      this.refreshData()
          .then(res => {
            this.filterForm = JSON.parse( JSON.stringify( this.filter ));
          })
          .catch(err => {

          })
    },
    emptyModel(){
      this.empty()
    },
  }
};
</script>
