<template>
  <div>
    <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
      <el-menu-item index="1">
        <router-link :to="{path: '/'}">Schedule list</router-link>
      </el-menu-item>
      <el-menu-item index="2">
        <router-link :to="{name: 'rooms.index'}">Rooms List</router-link>
      </el-menu-item>
      <el-menu-item index="3">
        <router-link :to="{name: 'groups.index'}">Groups list</router-link>
      </el-menu-item>
      <el-menu-item index="4">
        <router-link :to="{name: 'subjects.index'}">Subjects list</router-link>
      </el-menu-item>
      <el-menu-item index="5">
        <router-link :to="{name: 'teachers.index'}">Teachers list</router-link>
      </el-menu-item>
    </el-menu>
    <router-view/>

  </div>
</template>

<script>
export default {
  name: "NavbarVue",
  data() {
    return {
      activeIndex: '1',
    };
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    }
  }
}
</script>

<style scoped>

</style>